name: update

on:
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          registry-url: "https://registry.npmjs.org"
          cache: "npm"

      - name: Install
        run: npm ci

      - name: Update
        run: npm run update

      - name: Commit
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          if [ -n "$(git status --porcelain)" ]; then
            CS2_VERSION="$(awk -F'=' '/^ClientVersion/ {print $2}' scripts/workdir/game/csgo/steam.inf | tr -d '\r')"
            MANIFEST_ID="$(cat scripts/cs2.manifest)"
            BRANCH_NAME="cs2-v$CS2_VERSION"
            git checkout -b $BRANCH_NAME
            git add .
            git commit -m "feat: update items (CS2 v$CS2_VERSION)"
            git push origin $BRANCH_NAME
            echo "changes=true" >> $GITHUB_ENV
          fi

      - name: Pull Request
        if: env.changes == 'true'
        run: |
          gh pr create --base main --head "$BRANCH_NAME" --title "feat: update items (CS2 v$CS2_VERSION)" --body "Manifest: $MANIFEST_ID" --fill
